<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
</head>
<link rel="stylesheet" href="style.css">

<!-- App CSS -->
<body>
<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> 0347268701</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> daotai2309@email.com</a></li>

      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
        <li><a href="/userProfile"><i class="fa fa-user-o"></i> My Account</a></li>
        <li><a href="/dangnhap"><i class=""></i> Login</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header" th:include="fragments/headeruser :: headeruser">

  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a href="/user">Home</a></li>
        <li><a href="/store">Store</a></li>
        <li><a href="/viewCart">Cart</a></li>

        <li><a href="/oder">Oder</a></li>
        <li><a href="/oderCancel">OderCancel</a></li>
        <li><a href="/oderShip">OderShip</a></li>
      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
          <div class="product-preview">
            <img th:src="${product.img}" alt="">
          </div>


        </div>
      </div>
      <!-- /Product main img -->

      <!-- Product thumb imgs -->
      <div class="col-md-2  col-md-pull-5">
        <div id="product-imgs">
          <div class="product-preview">
            <img th:src="${product.img}" alt="">
          </div>


        </div>
      </div>
      <!-- /Product thumb imgs -->

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name" th:text="${product.nameproduct}"></h2>

          <div>
            <h3 class="product-price"><label th:text="${product.price}-(${product.price}*${product.sale}/100)"></label><del class="product-old-price" th:text="${product.price}"></del></h3>
            <span class="product-available">In Stock</span>
          </div>


          <div class="product-options">
            <label>
              Size
              <select class="input-select">
                <option value="0">X</option>
              </select>
            </label>
            <label>
              Color
              <select class="input-select">
                <option value="0">Red</option>
              </select>
            </label>
          </div>

          <div class="add-to-cart">
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input type="number" name="num">
                <span class="qty-up">+</span>
                <span class="qty-down">-</span>
              </div>
            </div>
            <a th:href="@{/addToCart(id=${product.id})}"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button></a>
          </div>

          <ul class="product-btns">
            <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
            <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
          </ul>

          <ul class="product-links">
            <li>Category:</li>
            <li th:text="${product.category.name}"></li>
            <li th:text="${product.supplier.supplier}"></li>
          </ul>

          <ul class="product-links">
            <li>Share:</li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>

        </div>

      </div>
      <div><br>
        <br></div>

<!--      <div class="col-md-5">-->
<!--      </div>-->



      <form action="/comment" method="post">
        <div class="form-group">
          <input class="input" type="hidden" name="productId"  th:value="${product.id}">
        </div>
        <div class="order-notes">
          <textarea class="input" placeholder="Comment" name="comment"></textarea>
        </div>
        <button type="submit" class="primary-btn order-submit">Comment</button>
      </form>
      <div class="container-xl">
        <div class="position-relative mb-3">
          <div class="row g-3 justify-content-between">

          </div>
        </div>


        <section class="blog-single section">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-10">
                <div class="blog-single-main">
                  <div class="row">
                    <div class="col-12">
                      <div class="comments">
                        <h3 class="comment-title">Comments <span th:text="'('+${size}+')'"></span></h3>
                        <!-- Single Comment -->
                        <th:block th:each=" cmt: ${listComment}">
                        <div class="single-comment">
                          <img th:src="${cmt.user.img}" alt="#">
                          <div class="content">
                            <h4 th:text="${cmt.user.username}"></h4> &nbsp   <span th:text="${#dates.format(cmt.createDate, 'HH:mm dd-MM-yyyy')}"></span>
                            <p th:text="${cmt.comment}"></p>
                          </div>
                        </div>
                        </th:block>
                        <!-- End Single Comment -->
                        <!-- Single Comment -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



      </div><!--//container-fluid-->

      <!-- /Product details -->

      <!-- Product tab -->

      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->

<!-- /Section -->

<!-- NEWSLETTER -->
<
<!-- /NEWSLETTER -->

<!-- FOOTER -->
<footer id="footer" th:include="fragments/footer :: footer">

</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->


</body>
</html>
