<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div id="top-header" th:fragment="headerusername">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> 0347268701</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> daotai2309@email.com</a></li>

        </ul>
        <ul class="header-links pull-right">
            <li><a href="/testuser"><i class="fa fa-dollar"></i> USD</a></li>

            <th:block sec:authorize="isAuthenticated()">
                <li><a href="#" > <i class="fa fa-user-o"></i> <label th:text="${#authentication.name}"></label></a></li>
            </th:block>

            <li><a href="/logout"><i class="fa login"></i> Logout</a></li>
        </ul>
    </div>
</div>
</html>